body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h4{
  margin: 0.4rem;
  text-align: center;
}

p{
  margin: 0;
  text-align: center;
}

.container{
  max-width: 978px;
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
}
.products-top{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.products-top__products{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding: 0.4rem 1rem;
}
.icon{
  position: relative;
  top: 2rem;
  font-size: 1rem;
  color: black;
  background-color: rgba(240, 248, 255, 0.7);
  padding: 0.5rem;
  border-radius: 0 0 0.2rem 0.2rem;
}
.products-top__image{
  width: 100%;
  max-width: 230px;
  border-radius: 0.3rem;
}
.banners-mid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.banners-mid__banners{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banners-mid__image{
  width: 100%;
}
.banners-mid__text{
  font-size: 1rem;
  position: absolute;
  max-width: 200px;
  text-align: center;
  background-color: rgba(36, 34, 30, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
}
.products-bottom{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.products-bottom__products{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0.8rem;
}
.products-bottom__image{
  width: 100%;
  max-width: 230px;
  border-radius: 0.3rem;
}
@media (max-width: 768px){
    .products-top{
      grid-template-columns: repeat(2, 1fr);
    }
    .banners-mid{
      display: block;
    }
    .products-bottom{
      grid-template-columns: repeat(2, 1fr);
    }
@media (max-width: 480px){
    .products-top{
      grid-template-columns: 1fr;
    }
    .banners-mid{
      display: none;
    }
    .products-bottom{
      grid-template-columns: 1fr;
    }
  }
}