body{
  background-color: rgb(236, 236, 236);
}

h1{
  text-align: center;
}

h3{
  color: darkslategray;
}

.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  max-width: 1200px;
  margin: auto;
}

section{
  background-color: rgb(250, 250, 250);
  padding: 20px;
  border: 1px solid gray;
  grid-column: auto / span 6;
  border-radius: 5px;
}